.App {
  text-align: center;
}

#logo-header {
  display: inline-block;
  text-align: center;
 }

 #page-header {
   width: auto;
   margin: 5px 30px;
 }

#user-dropdown {
  height: auto;
  width: auto;
  float: right;
  margin-top: 10px;
}
 .component {
   border-style: solid;
   padding: 10px;
   margin: 5px;
 }

 #household {
   background-color: pink;
 }

 #pets {
   background-color: lightblue;
 }

 #tasks {
   background-color: lightgreen;
 }

h1 {
  color: #3F559E;
  float: left;
}
 .create-btn {
   float: right;
 }