* {
  background-color: lightsteelblue;
}

.logo {
  height: 150px;
}

#header {
  background-color: gray;
  align-items: center;
}

#household {
  border-style: solid;
}

#pets {
  border-style: solid;
}

#tasks {
  border-style: solid;
}